- name: Create Minecraft user
  ansible.builtin.user:
    name: minecraft
    shell: /bin/bash
    home: /opt/minecraft

- name: Create Minecraft root directory
  ansible.builtin.file:
    path: /opt/minecraft
    state: directory
    recurse: yes
    owner: minecraft
    group: minecraft
    mode: '0770'

- name: Download Kopia GPG key
  ansible.builtin.get_url:
    url: https://kopia.io/signing-key
    dest: /usr/share/keyrings/kopia-keyring.asc
    mode: '0644'

- name: Add Kopia repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/kopia-keyring.asc] http://packages.kopia.io/apt/ stable main"
    state: present

- name: Install Kopia and Cron
  ansible.builtin.apt:
    name: 
      - kopia
      - cron
    state: latest

- name: Connect to Kopia repository
  ansible.builtin.command: kopia repository connect b2 -p={{ kopia_password }} --bucket={{ kopia_b2_bucket_name }} --key-id={{ kopia_b2_bucket_key_id }} --key={{ kopia_b2_bucket_key }}

- name: Configure Kopia snapshot retention policy
  ansible.builtin.command: kopia policy set --global --compression=zstd --keep-hourly=24 --keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-annual=3 --keep-latest=0

- name: Create backup job every 10 minutes
  ansible.builtin.cron:
    cron_file: minecraft-backup
    name: minecraft-backup
    job: "kopia snapshot create /opt/minecraft"
    minute: "*/10"
    user: root
