- name: Create Minecraft user
  user:
    name: minecraft
    shell: /bin/bash
    home: /opt/minecraft

- name: Create Minecraft root directory
  file:
    path: /opt/minecraft
    state: directory
    recurse: yes
    owner: minecraft
    group: minecraft
    mode: 0770

- name: Add Kopia repo key
  ansible.builtin.apt_key:
    url: https://kopia.io/signing-key

- name: Add Kopia repo
  ansible.builtin.apt_repository:
    repo: "deb http://packages.kopia.io/apt/ stable main"

- name: Install Kopia
  ansible.builtin.apt:
    name: kopia
    state: latest

- name: Connect to Kopia repository
  ansible.builtin.shell: kopia repository connect b2 -p={{ kopia_password }} --bucket={{ kopia_b2_bucket_name }} --key-id={{ kopia_b2_bucket_key_id }} --key={{ kopia_b2_bucket_key }}

- name: Configure Kopia snapshot retention policy
  ansible.builtin.shell: |
    kopia policy set --global --compression=zstd
    kopia policy set --global --keep-hourly 24
    kopia policy set --global --keep-daily 7
    kopia policy set --global --keep-weekly 4
    kopia policy set --global --keep-monthly 12
    kopia policy set --global --keep-annual 3
    kopia policy set --global --keep-latest 0
  when: not kopia_configured.stat.exists


- name: Install cron
  apt:
    name: cron
    state: latest

- name: Create hourly cron backup job
  cron:
    name: Minecraft server backup every hour
    job: /opt/minecraft/backups/scripts/backup-server.sh
    minute: "0"