name: "Ansible - Minecraft"

on:
  workflow_dispatch:
  push:
    branches: master
    paths:
      - ansible/**
      - .github/workflows/ansible-minecraft.yml

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  ansible:
    name: "Ansible Run"
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run playbook
        run: |
          echo ${{ secrets.ANSIBLE_VAULT_KEY }} > /opt/vault-pass
          echo ${{ secrets.SSH_KEY }} | base64 -d > /opt/ssh-key
          chmod 600 /opt/vault-pass /opt/ssh-key

          cd ansible
          export ANSIBLE_FORCE_COLOR=1
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i hosts.yml --vault-password-file /opt/vault-pass playbooks/ansible-minecraft.yml

      - name: Cleanup
        if: always()
        run: |
          rm -f /opt/vault-pass /opt/ssh-key
