name: Hourly Minecraft Backup

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # Every hour

jobs:
  backup:
    runs-on: ubuntu-24.04
    steps:
      - name: Install Dependencies
        run: |
          curl -s https://kopia.io/signing-key | sudo gpg --dearmor -o /usr/share/keyrings/kopia-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/kopia-keyring.gpg] http://packages.kopia.io/apt/ stable main" | sudo tee /etc/apt/sources.list.d/kopia.list
          sudo apt update
          sudo apt install -y kopia rsync sshpass

      - name: Check Runner Disk Space
        run: |
          echo "### Disk Usage Before Sync"
          df -h

      - name: Sync Files Locally via Rsync
        env:
          SSHPASS: ${{ secrets.SFTP_PASSWORD }}
        run: |
          mkdir -p ~/mc_local
          sshpass -e rsync -vazP -e "ssh -p ${{ secrets.SFTP_PORT }} -o StrictHostKeyChecking=no" \
          ${{ secrets.SFTP_USER }}@${{ secrets.SFTP_HOST }}:/ ~/mc_local/

      - name: Kopia Snapshot and Maintenance
        run: |
          kopia repository connect b2 -p="${{ secrets.KOPIA_PASSWORD }}" --bucket="${{ secrets.B2_BUCKET }}" --key-id="${{ secrets.B2_KEY_ID }}" --key="${{ secrets.B2_KEY }}"
          kopia policy set --global --compression=zstd --keep-hourly=24 --keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-annual=3 --keep-latest=0
          kopia snapshot create ~/mc_local
          kopia maintenance set --owner=me
          kopia maintenance run --full
